{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">

  <!-- CDN -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="navbar bg-base-100">
            <a class="btn btn-ghost normal-case text-xl">Laser Eyes</a>
        </div>
    </header>
</body>
</html>