{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">

  <!-- CDN -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="navbar bg-base-100">
            <a class="btn btn-ghost normal-case text-xl">Laser Eyes</a>
        </div>
    </header>
    <form id="image-upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="fileInput" type="file" style="display:none;" />
        <input class="btn" type="button" value="Upload" onclick="openFileExplorer()" />
    </form>
    <script>
        function openFileExplorer() {
            const input = document.getElementById('fileInput');
            input.click();
            input.onchange = onFileSelect;
        }

        function onFileSelect(e) {
            const file = e.target.files[0];
            const formData = new FormData();
            formData.append('image', file);
            uploadImage(formData);
        }

        function uploadImage(formData) {
            const http = new XMLHttpRequest();
            http.onreadystatechange = function() {
                if (http.readyState == XMLHttpRequest.DONE) {
                    const img = document.createElement('img');
                    img.src = 'data:image/jpeg;base64,' + http.responseText;
                    document.body.appendChild(img);
                }
            }

            const url = '/process';

            http.open('POST', url);
            http.send(formData);
        }
    </script>
</body>
</html>